/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #B7C9E2;
	color: #1D3461;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
}
p{
	font-family: 'Georgia', sans-serif; 
	font-size: 20px;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	font-family: 'Georgia', sans-serif;
	background-color: #B7C9E2;
	color: #1D3461;
}
h4 {
	font-style: italic;
	font-size: 30px;
	font-family: 'Georgia', serif;
	background-color:#B7C9E2;
}
h3 {
	font-size: 30px;
	font-family: 'Georgia', sans-serif;
	color: #1D3461;
	background-color:#B7C9E2;
}
h5 {
	font-size: 20px;
	font-family: 'Georgia', sans-serif;
	background-color: lightgray;
}

img{
	margin-right: 5%;
	margin-left: 5%;
	float: right;
}
.list {
	font-family: 'Georgia', sans-serif;
	font-size: 20px;
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 1000px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
 .footer {
 	background-color: #B7C9E2;
 }
img{
	float: none;
	width: 450px;
	height: 220px;
}
}